body{
    text-align: center;
    font-family: "Arial";
    
}

img{ 
    border-radius: 50%;
    height: 70px;
    width:70px;
    box-shadow: 1px 0px 10px rgb(20, 15, 15);
}



.container{
    margin: auto;
      display: grid;
     
      border: rgb(68, 74, 82) solid 2px;
      width: 600px;
      height: 600px;
      grid-template-rows: 30% 55%; 
      box-shadow: 10px 10px  20px grey;
    }

 .header { 
     background-color: rgba(9, 49, 49, 0.651);
     
     color: floralwhite;
     display: flex;
     align-tracks: inherit;
     justify-content: space-around;
     align-items: center;
     margin:2px;
    }

.contenido{
    background-color: rgba(183, 221, 219, 0.863);
   text-align: justify;
   padding: 8px;
   margin-left: 2px;
   margin-bottom: 2px;
   margin-right: 2px;
}

.imagen{
    position: relative;
    top: 20px;
}

.footer{
    background-color: rgb(29, 83, 83);
    margin-left: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    
}


.foot-content{
    position: relative;
    top: 40%;
    color: antiquewhite;
}

.foot-content a{
    color:bisque;
}