body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

h1{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

img{ 
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.alineado{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}