body{
    text-align: center;
    font-family: "Arial";
    
}

img{ 
    border-radius: 50%;
    height: 70px;
    width:70px;
}



.container{
    margin: auto;
      display: grid;
     
      border: rgb(68, 74, 82) solid 2px;
      width: 600px;
      height: 600px;
      grid-template-rows: 30% 55%; 
      box-shadow: 10px 10px  20px grey;
    }

 .header { 
     background-color: rgba(42, 94, 94, 0.753);
     
     color: floralwhite;
     display: flex;
     align-tracks: inherit;
     justify-content: space-around;
     align-items: center;
     margin:2px;
    }

.contenido{
    background-color: rgba(183, 221, 219, 0.863);
   text-align: justify;
   padding: 8px;
   margin-left: 2px;
   margin-bottom: 2px;
   margin-right: 2px;
}

.imagen{
    position: relative;
    top: 20px;
}

